body{
	margin: 0;
	padding: 0;
}
.container{
	left: 50%;
    margin-top:150px;
	display:flex;
	width:50%;
	justify-content: center;
	position: absolute;
	transform: translateX(-50%);
	background:green;
}
.container img{
	padding:1rem;
	width: 100%;
}
